.button-create-room{
    background: #A97DFF;
    color: #fff;
    font-size: 18px;
}
.list-room{
    width: 100%;
    height: 485px;
    overflow-y: scroll;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000035;
}
.row-chat{
    padding-right: 15px;
}
::-webkit-scrollbar{
    background-color: #252547;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #13132B;
    border-radius: 10px;
}
.chat__boxed{
    border: 1px solid #000;
    box-shadow: 0 0 5px #000035;
    padding: 0;
    max-height: 545px;
}
.chat__boxed-header{
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 650;
    display: block;
    height: 35px;
    background: #4A4A77;
}
.chat__boxed-content{
    padding: 15px 5px;
    width: 100%;
    height: calc(100% - 35px);
}
.chat__boxed-message{
    width: 100%;
    height: calc(100% - 35px);
    overflow-y: scroll;
    padding: 0 8px;
}
.chat-item{
    max-height: 60%;
    color: #fff;
    padding-bottom: 2px;
}
.chat-user{
    font-weight: bold;
    color: #6B6B92;
}
.chat__boxed-send{
    width: 100%;
    height: 35px;
    position: relative;
}
.chat__boxed-send input,
.chat__boxed-send button{
    position: absolute;
    height: 100%;
    border: none;
}
.chat__boxed-send input{
    width: 100%;
    left: 0;
    top: 0;
    padding: 5px 50px 5px 10px;
    outline: none;
}
.chat__boxed-send button{
    font-size: 18px;
    right: 0;
    top: 0;
    background-color: #A97DFF;
    color: #fff;
    padding: 2px 10px;
}
.chat__boxed-send button:hover{
    color: #212529;
}
.room{
    padding: 20px;
}
.room__item{
    position: relative;
    display: block;
    background-color: #323259 !important;
    color: #fff;
    height: 136px;
    font-size: 14px;
    width: calc(25% - 30px) !important;
    margin: 15px;
}
@media screen and (max-width: 768px){
    .room__item{
        width: calc(50% - 30px) !important;
    }
}
@media screen and (max-width: 576px){
    .room__item{
        width: calc(100% - 30px) !important;
    }
}
.room__item-status{
    color: #5F7587;
    font-size: 22px;
    position: absolute;
    right: 3px;
    top: 3px;
}
.room__item-title,
.room__item-user{
    position: absolute;
    left: 15px;
    top: 15px;
    
}

.room__item-user{
    top: 35px;
    list-style: none;
}
.player{
    position: absolute;
    left: 100px;
    display: block;
    white-space: nowrap;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.player-one{
    top: 35px;
}
.player-two{
    top: 55px;
}
.room__item-btn{
    display: block;
    width: 45% !important;
    position: absolute;
    color: #fff;
    background-color: #A97DFF;
    left: 50%;
    bottom: 12px;
    transform: translate(-50%,0);
}
.hide{
    display: none !important;
}
.table-crown{
    margin-top: 20px;
    padding: 0 150px;
}
@media screen and (max-width: 768px){
    .table-crown{
        margin-top: 20px;
        padding: 0 70px;
    }
}
@media screen and (max-width: 576px){
    .table-crown{
        margin-top: 20px;
        padding: 0 20px;
    }
}
.table-dark{
    background-color: #323259 !important;
}
.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: #4A4A77;
}
.table-dark thead {
    border: #000 !important;
}