<nav>{{> page/header}}</nav>
<div class="container-fluid">
    <div class="row mt-3 row-chat">
        <div class="col-xl-9 col-md-12 ">
            <button class="btn py-2 px-3 button-create-room ">Tạo phòng</button>
            <div class="mt-3 list-room">
                <div class="room row">
                    <div class="room__item">
                        <div class="room__item-status"><i class="fa fa-lock"></i></div>
                        <div class="room__item-title">Số phòng: 01</div>
                        <span class="room__item-user">Người chơi:</span>
                        <p class="player player-one" data-toggle="tooltip" data-placement="top" title="Hahaha">vua cờ</p>
                        <p class="player player-two" data-toggle="tooltip" data-placement="top" title="Vippro113">Vippro113</p>
                        
                        <button class="btn room__item-btn">Vào</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12 chat__boxed">
            <h3 class="chat__boxed-header">Kênh chat</h3>
            <div class="chat__boxed-content">
                <div class="chat__boxed-message">
                    <div class="chat-item">
                        <span class="chat-user">Hải Đăng: </span>
                        <span class="chat-content"> Xin chào các bạn mình là hải đăng</span>
                    </div>
                    <div class="chat-item">
                        <span class="chat-user">Minh Trí: </span>
                        <span class="chat-content"> Mình vừa thắng 1 trận haha</span>
                    </div>
                    <div class="chat-item">
                        <span class="chat-user">Hữu Trọng: </span>
                        <span class="chat-content"> Mọi người chơi hay quá hihi</span>
                    </div>
                </div>
                <div class="chat__boxed-send">
                    <input type="text" placeholder="Nhập chat ở đây">
                    <button>Gửi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/listRoom.js"></script>