<nav>{{> page/header}}</nav>
<div class="container-fluid">
    <div class="row mt-3 row-chat">
        <div class="col-xl-9 col-md-12 ">
            <button class="btn py-2 px-3 button-create-room ">Tạo phòng</button>
            <div class="mt-3 list-room">
                <div class="room row">
                    
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-12 chat__boxed">
            <h3 class="chat__boxed-header">Kênh chat</h3>
            <div class="chat__boxed-content">
                <div class="chat__boxed-message">
                    
                </div>
                <div class="chat__boxed-send">
                    <form class="form-send-message">
                        <input type="text" placeholder="Nhập chat ở đây" class="input-message">
                        <button type="submit">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/listRoom.js"></script>