<nav>{{> page/header}}</nav>
<div class="container table-crown">
    <h2>Top thắng nhiều nhất</h2>
    <div class="stickey-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Top</th>
                    <th scope="col">Biệt danh</th>
                    <th scope="col">Số trận thắng</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.players}}
                <tr>
                    <th scope="row">{{this.top}}</th>
                    <td>{{this.nickName}}</td>
                    <td>{{this.winTotal}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <p class="player-ratting">Hạng của bạn: {{ data.playerRating}}</p>
</div>