<div class="container-fluid" id="login-page">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-md-8 col-sm-12 row-container p-4 px-5">
            <form method="POST" class="form-verify">
                <h1 class="form__title">Đặt lại mật khẩu</h1>
                <div class="form-group">
                    <label for="email" >Email</label>
                    <div class="form__input">
                        <input type="text" id="email" rules='email' name="email" class="form-control pr-5 mb-2 shadow-none form__input-text" placeholder="Nhập email...">
                        <i class="fa-solid fa-envelope form__input-icon"></i>
                        <div class="form__input-line"></div>
                        <button type="button" class="btn-verify"><i class="fa fa-arrows-rotate" data-toggle="tooltip" data-placement="top" title="Lấy mã xác nhận"></i></button>
                    </div>
                    <span class="form-message-error"></span>
                </div>
                <div class="form-group">
                    <label for="email">Mã xác nhận</label>
                    <div class="form__input">
                        <input type="text" id="verifyCode" rules='required' name="verifyCode" class="form-control mb-2 shadow-none form__input-text" placeholder="Nhập mã xác nhận...">
                        <i class="fa fa-shield form__input-icon"></i>
                        <div class="form__input-line"></div>
                    </div>
                    <span class="form-message-error "></span>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu mới</label>
                    <div class="form__input">
                        <input type="password" id="password" rules='required|min:4|max:20' name="password" class="form-control mb-2 shadow-none form__input-text " placeholder="Nhập mật khẩu..." autocomplete="off">
                        <i class="fa fa-lock form__input-icon"></i>
                        <div class="form__input-line"></div>
                    </div>
                    <span class="form-message-error "></span>
                </div>
                <div class="form-group">
                    <label for="password">Nhập lại mật khẩu</label>
                    <div class="form__input">
                        <input type="password" id="cPassword" rules='required|min:4|max:20'name="cPassword" class="form-control mb-2 shadow-none form__input-text " placeholder="Nhập lại mật khẩu..." autocomplete="off">
                        <i class="fa fa-lock form__input-icon"></i>
                        <div class="form__input-line"></div>
                    </div>
                    <span class="form-message-error "></span>
                </div>
                <div class="form-check mb-3 col-md-5 col-md-12">
                    <label class="form-check-label form__input-lable">
                        <input type="checkbox" class="form-check-input form__input-check" id="show-passwpord" >
                        Hiện mật khẩu
                    </label>
                </div>
                <div class="button">
                    <button id="submitReg" type="submit" class="wpcf7-form-control wpcf7-submit mb-2">Xác nhận</button>
                </div>
            </form>
            <div class="form__footer form__login-text">
                <p>Quay lại trang <a href="/" class="form__input-lable"> đăng nhập</a></p>
                
            </div>
        </div>
    </div>
</div>
<script src="/js/forgot.js"></script>
