<div class="container-fluid" id="login-page">
    <div class="row justify-content-center">
        <div class="col-xl-4 col-md-8 col-sm-12 row-container p-4 px-5">
            <form method="POST" class="form-login">
                <h1 class="form__title">Đăng ký</h1>
                <div class="form-group">
                    <label for="nickName" >Họ và tên</label>
                    <div class="form__input">
                        <input type="text" id="nickName" rules='required|min:6|max:50' name="nickName" class="form-control mb-2 shadow-none form__input-text" placeholder="Nhập biệt danh...">
                        <i class="fa fa-user form__input-icon"></i>
                        <div class="form__input-line"></div>
                    </div>
                    <span class="form-message "></span>
                </div>
                <div class="form-group">
                    <label for="email" >Email</label>
                    <div class="form__input">
                        <input type="text" id="email" rules='required|email' name="email" class="form-control mb-2 shadow-none form__input-text" placeholder="Nhập email...">
                        <i class="fa fa-user form__input-icon"></i>
                        <div class="form__input-line"></div>
                    </div>
                    <span class="form-message "></span>
                </div>
                <div class="form-group">
                    <label for="password">Mật khẩu</label>
                    <div class="form__input">
                        <input type="password" id="password" rules='required|min:4|max:20' name="password" class="form-control mb-2 shadow-none form__input-text " placeholder="Nhập mật khẩu..." autocomplete="off">
                        <i class="fa fa-lock form__input-icon"></i>
                        <div class="form__input-line"></div>
                    </div>
                    <span class="form-message "></span>
                </div>
                <div class="form-check mb-3 col-md-5 col-md-12">
                    <label class="form-check-label form__input-lable">
                        <input type="checkbox" class="form-check-input form__input-check" id="show-passwpord" >
                        Hiện mật khẩu
                    </label>
                </div>
                <div class="button">
                    <button id="submitLogin" class="wpcf7-form-control wpcf7-submit mb-2">Đăng ký</button>
                </div>
            </form>
            <div class="form__footer form__login-text">
                <p>Đã có tài khoản?</p>
                <a href="/" class="form__input-lable"> Đăng nhập</a>
            </div>
        </div>
    </div>
</div>